<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>
      Measure force
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
      <ion-card-header>
        Connection Status
      </ion-card-header>
      <ion-card-content>

          <ion-button (click)="connectToSensor()" expand="block" *ngIf="!isConnected && !isScanning">
            <ion-icon slot="start" name="bluetooth"></ion-icon>&nbsp;&nbsp;&nbsp;Scan  
          </ion-button>

          <ion-button (click)="stopScan()" expand="block" *ngIf="isScanning">
            <ion-spinner slot="start"></ion-spinner>&nbsp;&nbsp;&nbsp;Scanning (tap to stop)
          </ion-button>  
          
          <ion-button expand="block" *ngIf="isConnected" color="secondary">
              <ion-icon slot="start" name="hammer"></ion-icon>&nbsp;&nbsp;&nbsp;Connected to tool  
          </ion-button>             

          <!-- <button [disabled]="!isConnected" (click)="readDevice()" ion-button icon-left block color="secondary">Read</button> -->

      </ion-card-content>
    </ion-card>  

    <br/>

    <ion-card *ngIf="isConnected">
        <ion-card-header>
          Training Session
        </ion-card-header>
        <ion-card-content>
  
            <ion-button color="primary" (click)="startSession()" expand="block" *ngIf="!isRecording">
              <ion-icon slot="start" name="stopwatch"></ion-icon>&nbsp;&nbsp;&nbsp;Record sample
            </ion-button>  

            <ion-button color="danger" (click)="stopSession()" expand="block" *ngIf="isRecording">
              <ion-icon slot="start" name="close-circle"></ion-icon>&nbsp;&nbsp;&nbsp;Stop recording
            </ion-button>              
  
        </ion-card-content>
      </ion-card>  
      
      <br/>

      <ion-card *ngIf="isRecording">
          <ion-card-content>
            
              <ion-spinner slot="start"></ion-spinner>

              <br/>

              <ion-chip>
                  <ion-label>Elapsed time: {{elapsedSeconds}}</ion-label>
              </ion-chip>
    
          </ion-card-content>
      </ion-card> 

      <br/>

      <ion-card *ngIf="recordedSamples.length > 0">
          <ion-card-header>
            Samples
          </ion-card-header>
        
          <ion-list>
            <button (click)="showModal(sample)" ion-item *ngFor="let sample of recordedSamples">
              <ion-icon name="analytics" item-start></ion-icon>
              <ion-chip>
                  <ion-label>Sample time: {{sample.startTime}}</ion-label>
              </ion-chip>                                                     
              <ion-chip>
                  <ion-label>Average force: {{sample.averageForce}}</ion-label>
              </ion-chip>   
              <ion-chip>
                  <ion-label>Min force: {{sample.minForce}}</ion-label>
              </ion-chip> 
              <ion-chip>
                  <ion-label>Max force: {{sample.maxForce}}</ion-label>
              </ion-chip>                             
              <ion-chip>
                  <ion-label>Elapsed time: {{sample.elapsedSeconds}}</ion-label>
              </ion-chip>                                       
            </button>
        
          </ion-list>
        </ion-card>      

</ion-content>
